# Dummy values only. Copy to .env and replace locally.
CLASS_API_KEY=replace_me
CLASS_VISION_BASE_URL=http://dobolyi.com:9001/v1
CLASS_VISION_MODEL=replace_with_documented_model
CLASS_TEXT_EMBEDDING_BASE_URL=http://dobolyi.com:9002/v1
CLASS_TEXT_EMBEDDING_MODEL=replace_with_documented_model
CLASS_VISUAL_EMBEDDING_BASE_URL=http://dobolyi.com:9003/v1
CLASS_VISUAL_EMBEDDING_MODEL=replace_with_documented_model
CLASS_RERANK_BASE_URL=http://dobolyi.com:9004/v1
CLASS_RERANK_MODEL=replace_with_documented_model
